<div class="home-container">
    <h1>Bem-vindo ao Conversor de Moedas</h1>
    <p>Converta moedas de forma rápida e fácil.</p>
    
    <div class="action-buttons">
      <a mat-raised-button color="primary" routerLink="/converter">Comece a converter</a>
      <a mat-raised-button color="accent" routerLink="/list">Ver lista de moedas</a>
    </div>
  
    <div class="features">
      <div class="feature-card">
        <mat-icon>compare_arrows</mat-icon>
        <h3>Conversor de moeda</h3>
        <p>Selecione entre uma ampla variedade de moedas e obtenha as taxas de câmbio mais recentes instantaneamente.</p>
      </div>
  
      <div class="feature-card">
        <mat-icon>history</mat-icon>
        <h3>Histórico de conversões</h3>
        <p>Acompanhe suas conversões recentes para acesso e referência rápidos.</p>
      </div>
    </div>
  </div>
  
