.conversion-history {
    div {
      margin-bottom: 20px;
      padding: 10px;
      background-color: #f9f9f9;
      border-radius: 5px;
    }
  
    button {
      margin-left: 10px;
    }
  
    p {
      display: inline-block;
      margin: 0;
    }
  }
  